.navigationContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ebe5e53a;
  padding: 15px;
  width: 250px;
  height: 23rem;
  border-radius: 0 0 1rem 1rem;
  transition: 0.3s;
}
.navigationContainer:hover {
  background-color: #e0b6b638; /* Light background on hover */
}
.navigationTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

.navButton {
  background-color: #6326260e;
  color: #000000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}
.navButton[data-selected="true"] {
  text-decoration: underline;
  background-color: #dcdcdc;
}
.navButton:hover {
  text-decoration: underline;
}

.navLink {
  padding: 5px 0 5px 20px;

  cursor: pointer;
  color: #333;
}
.navLink[data-selected="true"] {
  text-decoration: underline;
}
.navLink:hover {
  color: #007bff;
  text-decoration: underline;
}
